@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Koulen&family=Sora:wght@100..800&display=swap');

/* GLOBAL RESET */

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html
{
    scroll-behavior: smooth;
}

body
{
    background-color: var(--body-bgcolor);
    margin: 30px;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    gap: 60px;
}

/* GENERAL STYLES */

.italic
{
    font-style: italic;
}

button:hover
{
    cursor: pointer;
}



/* ANIMATIONS */

@keyframes rotate {
    0% {
      transform: rotate(0deg); /* Start from 0 degrees */
    }
    100% {
      transform: rotate(180deg); /* Rotate to 360 degrees */
    }
  }

/* HEADER + VIEW PRICING BUTTON IN HERO */

header
{
    width: 100%;
    height: 12vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--sections-bgcolor);
    gap: 12px;
    padding: 15px 1.5rem 15px 1.5rem;
    border: 1px solid var(--header-bordercolor);
    border-radius: .75rem;
    margin-left: auto;
    margin-right: auto;
}

.main-logo-container h1
{
    color: var(--header-mainlogo-fontcolor);
    font-size: 1.75rem;
    font-family: "Koulen" , sans-serif;
    text-wrap: nowrap;

}

.links-container ul
{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    gap: 50px;
}

.links-container ul li a
{
    color: var(--header-nav-links-fontcolor);
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    font-family: "Sora" , sans-serif;
}

.links-container ul li a:hover
{
    color: var(--header-nav-links-fontcolor-hover);
}

.book-call-container
{
    width: 210px;
    height: 45px;
    background-image: url("../images/blurry-gradient-haikei.svg");
    border-radius: .75rem;
}

.book-call-container button
{
    width: 100%;
    height: 100%;
    background: transparent;
    color: var(--header-bookcall-button-fontcolor);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
    font-family: "Sora" , sans-serif;
    font-weight: 600;
    font-size: 16px;
    border-radius: .75rem;
    border: none;
    padding: 8px;
    outline: 4px solid transparent;  
    transition: all ease-in-out 0.5s;
}

.book-call-container button:hover,
.view-pricing-container button:hover
{
    outline: 4px solid var(--header-bookcall-button-bordercolor-hover); 
}

.book-call-arrow-container
{
    width: 48px;
    height: 48px;
    flex-shrink: 0;
}

.book-call-arrow-container img
{
    width: 100%;
    height: 100%;
}

.burger-menu
{
    display: none;
    
}
/* SIDEBAR */

.sidebar
{
    background-color: var(--sections-bgcolor) ;
    border-right: 1px solid var(--sidebar-bordercolor);
    min-width: 30vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
    padding: 35px;
}

.sidebar-header-control-container,
.sidebar-links-container,
.sidebar .book-call-container
{
    width: 100%;
}

.sidebar h1
{
    font-size: 25px;
    text-wrap: nowrap;
    font-family: "Koulen" , sans-serif;
}

.sidebar-header-control-container
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 35px;
}

.sidebar ul
{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: flex-start;
}

.sidebar ul a
{
    color: var(--header-nav-links-fontcolor);
    text-decoration: none;
    font-weight: 600;
    font-size: 17px;
    font-family: "Sora" , sans-serif;
}

/* CONTROL PANEL */

.control-panel
{
    background-color: var(--control-panel-bgcolor);
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 10px;
    display: flex;
    flex-direction: column;
    padding: 5px;
    gap: 10px;
    border-radius: 0.75rem;
    z-index: 1;
}

.up,
.toggler,
.home
{
    width: 30px;
    height: 30px;
    cursor: pointer;
}


.up img,
.toggler img,
.home img
{
    width: 100%;
    height: 100%;
}

/* HERO */
.hero
{
    background-color: var(--sections-bgcolor);
    border: 1px solid var(--header-bordercolor);
    width: 100%;
    height: 600px;
    border-radius: .75rem;
    margin-left: auto;
    margin-right: auto;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 15px;
}

.small-title-container
{
    background-color: var(--hero-title-bgcolor);
    padding: 8px;
    border-radius: 1rem;
    min-width:  200px;
    min-height: 30px;
    display: flex;
    justify-content: center;
}

.small-title-container p
{
    color: var(--hero-title-fontcolor);
    font-family: "Sora" , sans-serif;
    font-weight: 500;
    font-size: 12px;
    text-wrap: nowrap;
    line-height: 16px;
}

.big-title-container
{
    text-align: center;
    max-width: 900px;
    min-width: 200px;
}

.big-title-container h2
{
    text-align: center;
    font-family: "Sora" , sans-serif;
    line-height: 60px;
    font-size: 60px;
    font-weight: 500;
    color: var(--sections-big-title-fontcolor);
}

.sub-text-container 
{
    max-width: 800px;
    min-width: 200px;
    text-align: center;
    
}

.sub-text-container p
{
    font-size: 20px;
    line-height: 28px;
    font-weight: 500;
    font-family: "Sora" , sans-serif;
    color: var(--hero-para-fontcolor);
}

.hero-buttons-container
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.view-pricing-container
{
    width: 210px;
    height: 45px;
}

.view-pricing-container button
{
    width: 100%;
    height: 100%;
    border-radius: .75rem;
    background-color: var(--hero-viewpricing-button-bgcolor);
    border: 3px solid var(--hero-viewpricing-button-bordercolor);
    outline: 4px solid transparent;  
    transition: all ease-in-out 0.5s;
}

.view-pricing-container button a
{
    text-decoration: none;
    font-family: "Sora" , sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    color: var(--hero-viewpricing-button-fontcolor);
}
/* SOCIAL PROOFS */
.social-proofs
{
    background-color: var(--sections-bgcolor);
    border: 1px solid var(--past-work-bordercolor);
    width: 100%;
    height: 150px;
    border-radius: .75rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.past-work-logo-container
{
    width: 50px;
    height: 50px;
    flex-shrink: 0;
}

.past-work-logo-container img
{
    width: 100%;
    height: 100%;
}

/* OPERATION PERKS */


.operation
{
    background-color: var(--sections-bgcolor);
    border: 1px solid var(--operation-bordercolor);
    width: 100%;
    height: 700px;
    padding: 50px;
    border-radius: .75rem;
    margin-right: auto;
    margin-left: auto;
}

.operation-container
{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 25px;
}

.operation .big-title-container h2
{
    text-align: center;
    font-family: "Sora" , sans-serif;
    line-height: 60px;
    font-size: 48px;
    font-weight: 500;
    color: var(--sections-big-title-fontcolor);
}

.operation .sub-text-container 
{
    max-width: 875px;
    min-width: 200px;
    text-align: left;
    margin-bottom: 30px;
}

.operation .sub-text-container p
{
    font-size: 16px;
    line-height: 28px;
    font-weight: 300;
    color: var(--operation-para-fontcolor);
}

.operation-perks-container
{
    display: flex;
    gap: 90px;
}

.perk-card
{
    background-color: var(--operation-perkcard-bgcolor);
    width: 340px;
    min-width: 240px;
    padding: 30px 30px 30px 10px;
    border-top-right-radius: 0.65rem;
    border-top-left-radius: 0.65rem;
    border-top: 2px solid var(--operation-perkcard-bordercolor);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 18px;
}

.perk-card .perk-number-container
{
    width: 45px;
    height: 45px;
    background-color: var(--operation-perk-number-bgcolor);
    text-align: center;
    border-radius: .75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.perk-card .perk-number-container h2
{
    font-family: "Sora" , sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    color: var(--operation-perk-number-fontcolor );
}

.perk-card .perk-title-container h2
{
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    font-family: "Sora" , sans-serif;
    color: var(--operation-perk-title-fontcolor);
}

.perk-card .perk-description-container p
{
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    font-family: "Sora" , sans-serif;
    color: var(--operation-perk-description-fontcolor);
}

/* SERVICES */
.services
{
    background-color: var(--sections-bgcolor);
    border: 1px solid var(--services-bordercolor);
    width: 100%;
    height: auto;
    padding: 40px;
    border-radius: .75rem;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 45px;

}

.services-titles-container
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    gap: 20px;
}

.services-container
{
    display: flex;
}

.services .small-title-container,
.testimonials .small-title-container,
.comparison .small-title-container,
.case-studies .small-title-container,
.pricing .small-title-container 
{
    background-color: transparent;
    padding: 0px;
    min-width:  50px;
    min-height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.services .small-title-container p,
.testimonials .small-title-container p,
.comparison .small-title-container p,
.case-studies .small-title-container p,
.pricing .small-title-container p
{
    background-color: var(--hero-title-bgcolor);
    padding: 5px 15px 5px 15px;
    border-radius: 1rem;
    font-size: 12px;
    font-family: "Sora" , sans-serif;
    font-weight: 500;
    line-height: 16px;
    color: var(--services-smalltitle-fontcolor);
    width: 100%;
}

.services .big-title-container h2
{
    font-size: 48px;
    font-family: "Sora" , sans-serif;
    font-weight: 500;
    line-height: 50px;
    color: var(--sections-big-title-fontcolor);
}


.services-container
{
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.service-card
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 400px;
    height: auto;
    padding: 20px;
    gap: 20px;
    background-color: var(--services-card-bgcolor);
}

.service-card-header
{
    display: flex;
    gap: 15px;
}

.service-card-header .service-card-title-container h2
{
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    font-family: "Sora" , sans-serif;
    color: var(--services-card-title-fontcolor);
}

.service-card-header .service-card-icon-container 
{
    width: 35px;
    height: 35px;
    background-color: var(--services-icon-bgcolor);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    flex-shrink: 0;
}

.service-card-header .service-card-icon-container img
{
    width: 90%;
    height: 90%;
}

.service-card .service-card-description-container
{
    min-width: 150px;
    height: auto;
    padding: 10px 10px 5px 40px;
}

.service-card .service-card-description-container p
{
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;
    font-family: "Sora" , sans-serif;
    color: var(--services-card-description-fontcolor);
}
/* TESTIMONIALS */
.testimonials
{
    border: 1px solid var(--sections-bordercolor);
    width: 100%;
    height: 450px;
    padding: 50px;
    border-radius: .75rem;
    margin-right: auto;
    margin-left: auto;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}

.testimonial-attribution-container
{
    display: flex;
    flex-direction: column;
}

.testimonials .testimonial-text-container,
.testimonials .testimonial-attributioner-container,
.testimonials .testimonial-attributioner-role-container
{
    padding: 10px 10px 10px 0px;
}

.testimonials .testimonial-attributioner-container
{
    padding-bottom: 0px;
}

.testimonials .testimonial-attributioner-role-container
{
    padding-top: 0px;
}

.testimonials .testimonial-text-container p
{
    font-size: 48px;
    font-family: "Sora" , sans-serif;
    font-weight: 500;
    line-height: 60px;
    color: var(--testimonials-test-text-fontcolor);
}

.testimonials .testimonial-attributioner-container p
{
    font-size: 20px;
    font-family: "Sora" , sans-serif;
    font-weight: 500;
    line-height: 28px;
    color: var(--testimonials-attribution-fontcolor);
}

.testimonials .testimonial-attributioner-role-container p
{
    font-size: 16px;
    font-family: "Sora" , sans-serif;
    font-weight: 300;
    line-height: 24px;
    color: var(--testimonials-attributioner-role-fontcolor);
}

.switchers-container
{
    /* background-color: bisque; */
    width: 100px;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    gap: 5px;
}

.switch,
.switch-active
{
    width: 20px;
    height: 6px;
    background-color: var(--testimonials-switch-btn-bgcolor);
    border-radius: .75rem;
    transition: transform ease-out 0.3s;
    will-change: transform;
}

.switch:hover
{
    transform: scaleX(1.2);
    background-color: var(--testimonials-switch-btn-bgcolor-active);
}

.switch-active
{
    width: 24px;
    background-color: var(--testimonials-switch-btn-bgcolor-active);
}

/* COMPARISON */

.comparison
{
    border: 1px solid var(--sections-bordercolor);
    width: 100%;
    height: auto;
    padding: 50px;
    border-radius: .75rem;
    margin-right: auto;
    margin-left: auto;
    background-color: var(--sections-bgcolor);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;    
    gap: 10px;
}

.comparison .big-title-container 
{
    margin-bottom: 50px;
}

.comparison .big-title-container h2
{
    font-family: "Sora" , sans-serif;
    font-size: 48px;
    font-weight: 500;
    line-height: 60px;
    color: var(--sections-big-title-fontcolor);
    text-wrap: nowrap;
}

.comparison-table
{
    width: 100%;
    height: auto;
    border-collapse: collapse;
}

.comparison-table thead td
{
    text-align: center;
}

.comparison-table tr
{
    height: 85px;
}

.comparison-table th,
.comparison-table .table-titles,
.comparison-table .table-side-titles
{
    font-family: "Sora" , sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: var(--comparison-table-sidetitles-fontcolor);
}

.comparison-table th
{
    padding: 30px;
}

.comparison-table .table-titles,
.comparison-table .table-side-titles
{
    padding: 20px;
    text-wrap: nowrap;
}

.comparison-table td,
.comparison-table th
{
    border-top: 1px solid var(--comparison-table-row-bordercolor);
    height: auto;
}

.comparison-table .table-values
{
    text-align: center;
    
}

.comparison-table .table-values p
{
    background-color: var(--comparison-table-values-bgcolor);
    color: var(--comparison-table-values-fontcolor );
    display: inline;
    padding: 5px 10px 5px 10px;
    border-radius: .45rem;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    font-family: "Sora" , sans-serif;
    text-wrap: nowrap;
}

.comparison-table .table-values p.vitruvian-values
{
    background: linear-gradient(to right, var(--comparison-table-vitruvian-values-gradientcolor-one), var(--comparison-table-vitruvian-values-gradientcolor-two));
}

/* CASE STUDIES */

.case-studies
{
    width: 100%;
    height: 1000px;
    border-radius: .75rem;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}

.case-studies .big-title-container
{
    margin-bottom: 20px;
}

.case-studies .big-title-container h2,
.subscription-steps .big-title-container h2
.pricing .big-title-container h2
{
    font-family: "Sora" , sans-serif;
    font-weight: 500;
    line-height: 60px;
    font-size: 48px;
    color: var(--sections-big-title-fontcolor);
}

.case-studies-container
{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "left top"
    "left bottom";
    gap: 30px;
}

.case-studies-container div
{
    border-radius: 1rem;
    position: relative;
}


.case-studies-container div img
{
    border-radius: 1rem;
    overflow: hidden;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.one
{
    grid-area: left;
    max-height: 848px;
    background-image: url("../images/case-study-1.jpg");
}

.two
{
    grid-area: top;
    max-height: 409px;
    background-image: url("../images/case-study-2.png");


}

.three
{
    grid-area: bottom;
    max-height: 409px;
    background-image: url("../images/case-study-3.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}

.case-studies-container .case-study-content
{
    position: absolute;
    bottom: 0;
    background-color: var(--case-study-content-bgcolor);
    border-top-left-radius: 0px;
    border-top-right-radius: 0px ;
    height: 25%;
    padding: 35px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 10px;
}

.case-studies-container div.two .case-study-content,
.case-studies-container div.three .case-study-content
{
    height: 45%;
}

.case-study-content .case-study-title-container h3
{
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    font-family: "Sora" , sans-serif;
    color: var(--case-study-content-title-fontcolor);
}

.case-study-content .case-study-description-container p
{
    font-size: 1rem;
    font-family: "Sora" , sans-serif;
    font-weight: 400;
    line-height: 24px;
    color: var(--case-study-content-description-fontcolor );
}

/* SUBSCRIPTION STEPS */

.subscription-steps
{
    width: 100%;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
    overflow: hidden;
}

.steps-container
{
    background-image: url("../images/steps-image.jpg");
    background-repeat: repeat;
    background-size: cover;
    height: 700px;
    width: 100%;
    border-radius: .75rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 60px;
    padding: 15px 15px 15px 120px ;
}

.subscription-steps .big-title-container
{
    margin-bottom: 20px;
}

.step-container
{
    display: flex;
    flex-direction: column;
    /* background-color: white; */
    width: auto;
    height: 150px;
    /* background-color: #06B6D4; */
    align-items: flex-start;
}

.step-title,
.step-description,
.step-body
{
    width: auto;
}
.step-header
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.step-number h3
{
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    font-family: "Sora" , sans-serif;
    color: var(--subscription-step-number-fontcolor);
}

.circle 
{
    width: 40px;
    height: 40px;
    padding: 10px;
    background-color: #06B6D4;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle img
{
    width: 100%;
    height: 100%;
    flex-shrink: 0;
}

.step-container:last-child .circle 
{
    background-color: transparent;
    border: 2px solid #4B5563;
}

.step-body
{
    display: flex;
    align-self: flex-start;
    flex-direction: column;
    width: 400px;
    padding-left: 55px;
    gap: 5px;
}

.step-body h2
{
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    font-family: "Sora" , sans-serif;
    color: var(--subscription-step-title-fontcolor);
}

.step-body p
{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    font-family: "Sora" , sans-serif;
    color: var(--subscription-step-description-fontcolor);
}

/* PRICING */

.pricing
{
    background-color: var(--sections-bgcolor);
    border: 1px solid var(--pricing-bordercolor);
    width: 100%;
    height: auto;
    padding: 50px;
    border-radius: .75rem;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    gap: 65px;
    align-items: flex-start;
}

.pricing-titles
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.pricing-card-container
{
    display: flex;
    width: 100%;
    height: 500px;
    gap: 25px;
    justify-content: center;
    align-items: stretch;
}

.price-card
{
    height: 100%;
    display: flex;
    width: 450px;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    border-top: 2px solid var(--pricing-price-card-bordercolor);
    border-radius: 0.75rem;
    flex-shrink: 2;
    background-color: var(--pricing-price-card-bgcolor);
}

div#special-price-card
{
    flex-shrink: 1;
}

.price-card .price-title,
.price-card .price-amount,
.price-card .price-state,
.price-card .price-action-btn-container,
.price-card .price-perks-container
{
    padding: 10px;
}

.price-card .price-title h3
{
    font-size: 20px;
    font-family: "Sora" , sans-serif;
    font-weight: 500;
    line-height: 28px;
    color: var(--pricing-price-title-fontcolor);
}

.price-card .price-amount p
{
    font-size: 48px;
    font-family: "Sora" , sans-serif;
    font-weight: 500;
    line-height: 60px;
    color: var(--pricing-price-amount-fontcolor);
}

.price-card .price-amount p span
{
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    color: var(--pricing-price-amount-time-fontcolor);
}

.price-card .price-state p 
{
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    color: var(--pricing-price-state-fontcolor);
    font-family: "Sora" , sans-serif;
}

.price-card .price-action-btn-container,
.price-card .price-action-btn-container button
{
    width:100%;
    height: 60px;
}

.price-card .price-action-btn-container button
{
    font-size:16px ;
    font-family: "Sora" , sans-serif;
    font-weight: 500;
    line-height: 24px;
    color: var(--pricing-price-button-fontcolor);
    background-color: var(--pricing-price-button-bgcolor);
    border: 2px solid var(--pricing-price-button-bordercolor);
    border-radius: 0.75rem;
    transition: all ease-in 0.5s;
}

.price-card .price-action-btn-container button:hover
{
    color: var(--pricing-price-button-fontcolor-hover);
    background-color: var(--pricing-price-button-bgcolor-hover);
}

.price-card .price-action-btn-container button.sign-up-btn
{
    color: var(--pricing-price-button-fontcolor);
    background: linear-gradient(to right, var(--pricing-price-signup-btn-gradientcolor-one), var(--pricing-price-signup-btn-gradientcolor-two));
    border: 2px solid var(--pricing-price-signup-btn-bordercolor);
    outline: 4px solid transparent;  
}

.price-card .price-action-btn-container button.sign-up-btn:hover
{
    outline: 4px solid var(--pricing-price-signup-btn-outlinecolor-hover);
    color: var(--pricing-price-signup-btn-fontcolor-hover);
    background: linear-gradient(to right, var(--pricing-price-signup-btn-bgcolor-hover), var(--pricing-price-signup-btn-bgcolor-hover));
    border: none;
}

.price-card .price-perks-container
{
    align-self: flex-start;
    width: auto;
    
}

.price-card .price-perks-container ul
{
    list-style-type: none;
    list-style-image: url("../images/icons8-check-24.png");
    padding: 30px;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.price-card .price-perks-container ul li
{
    font-size: 16px;
    font-family: "Sora" , sans-serif;
    font-weight: 300;
    line-height: 24px;
    color: var(--pricing-price-perks-fontcolor);
    text-wrap: nowrap;
}

/* FAQs */
.faqs
{
    background-color: var(--sections-bgcolor);
    border: 1px solid var(--pricing-bordercolor);
    width: 100%;
    height: auto;
    padding: 50px;
    border-radius: .75rem;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    gap: 65px;
    align-items: flex-start;
}

.faq
{
    width: 50%;
    padding: 10px;
}
.faqs-titles
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.faqs-titles .big-title-container h2
{
    text-align: left;
}

.faqs-container
{
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.faq-header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.faq-header .faq-title
{
    padding-right: 15px;
}

.faq-header .faq-title h3
{
    font-size: 20px;
    font-family: "Sora" , sans-serif;
    font-weight: 500;
    line-height: 28px;
    color: var(--faqs-faq-title-fontcolor);
}

.faq-text
{
    padding: 15px 45px 15px 15px;
}

.faq-text p
{
    text-align: left;
    font-size: 16px;
    font-family: "Sora" , sans-serif;
    line-height: 24px;
    color: var( --faqs-faq-description-fontcolor);
    font-weight: 200;
}

.rotate-triangle
{
    animation: rotate 0.1s forwards;
}

/* BOOKING */
.booking
{
    background-color: var(--sections-bgcolor);
    border: 1px solid var(--booking-bordercolor);
    width: 100%;
    height: auto;
    padding: 50px;
    border-radius: .75rem;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

.booking .big-title-container,
.booking .booking-text-container,
.booking .book-call-btn-container,
.booking .booking-subtext-container
{
    padding: 10px;
}

.booking .big-title-container h2
{
    line-height: 53px;
}

.booking-text-container
{
    width: 48vw;
    text-align: center;
}

.booking-text-container p
{
    color: var(--booking-text-fontcolor);
    font-size: 20px;
    font-family: "Sora" , sans-serif;
    font-weight: 500;
    line-height: 28px;
}

.book-call-btn-container
{
    width: 225px;
    height: 80px;
    border-radius: 0.75rem;
}

.book-call-btn-container button
{
    width: 100%;
    height: 100%;
    border-radius: 0.75rem;
    border: none;
    background: linear-gradient(to right, var(--booking-button-gradientcolor-one), var(--booking-button-gradientcolor-two));
    font-size:18px ;
    font-family: "Sora" , sans-serif;
    font-weight: 500;
    color: var(--booking-button-fontcolor);
    outline: 4px solid transparent;  
    transition: all ease-in-out 0.5s;
}

.book-call-btn-container button:hover
{
    outline: 4px solid var(--booking-button-outlinecolor-hover);
}

.booking-subtext-container p
{
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    font-family: "Sora" , sans-serif;
    color: var(--booking-subtext-fontcolor);
    text-wrap: nowrap;

}

/* FROM NOW ON STYLES FOR CONTACT*/

.contact
{
    background-color: var(--sections-bgcolor);
    border: 1px solid var(--contact-bordercolor);
    width: 100%;
    height: auto;
    padding: 50px;
    border-radius: .75rem;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    font-family: "Sora" , sans-serif;
}

.contact-form
{
    height: auto;
    border: 1px solid var(--contact-form-bordercolor);
    padding: 40px;
    border-radius: .75rem;
    width: 60vw;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact-form p
{
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    color: var(--contact-button-title-fontcolor);
}
.contact-sub-header,
.contact-header,
.contact-description
{
    padding: 10px;
    text-align: center;
}

.contact-sub-header p
{
    font-size:14px ;
    font-weight: 500;
    line-height: 24px;
    color: var(--contact-sub-title-fontcolor);
}

.contact-header h1
{
    font-size:60px ;
    font-weight: 500;
    line-height: 72px;
    color: var(--contact-title-fontcolor);
}

.contact-description
{
    width: 50vw;
    text-align: center;
}

.contact-description p
{
    font-size:16px ;
    font-weight: 500;
    line-height: 24px;
    color: var(--contact-description-fontcolor);

}

.personal-information-container
{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
}

.personal-information-container div
{
    width: 50%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.personal-information-container div input.inputs
{
    width: 100%;
    height: 100%;
    padding: 20px;
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    color: var(--contact-button-placeholder-fontcolor);
    font-family: "Sora" , sans-serif;
    background-color: transparent;
    border: 1px solid var(--contact-button-bordercolor);
    border-radius: 0.75rem;
}

.personal-information-container div input:focus,
.question-container textarea:focus
{
    border: 3px solid var(--contact-button-bordercolor-focus);
    outline: none;
}


.question-container
{
    width: 100%;
    height: auto;
    padding: 10px 10px 10px 10px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.question-container textarea
{
    width: 100%;
    height: 200px;
    border-radius: 0.75rem;
    background-color: transparent;
    border: 1px solid var(--contact-textarea-bordercolor);
    padding: 20px 10px 10px 20px;
    font-size: 18px;
    font-family: "Sora" , sans-serif;
    font-weight: 500;
    line-height: 28px;
    resize: none;
}

.contact-send-container
{
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: flex-end;
    padding: 5px;
}

.contact-send-container input
{
    min-width: 300px;
    border-radius: .75rem;
    border: none;
    font-size: 18px;
    line-height: 28px;
    font-weight: 500;
    color: var(--contact-submit-button-fontcolor);
    font-family: "Sora" , sans-serif;
    padding: 5px 10px 5px 10px;
    background: linear-gradient(to right, var(--contact-submit-button-values-gradientcolor-one), var(--contact-submit-button-values-gradientcolor-two));
}

/* FOOTER */
.footer
{
    background-color: var(--sections-bgcolor);
    border: 1px solid var(--footer-bordercolor);
    width: 100%;
    height: auto;
    padding: 50px;
    border-radius: .75rem;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    gap: 55px;
}

.footer-header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.vitruvian-socials-container
{
    display: flex;
    gap: 10px;
}

.social-container
{
    width: 35px;
    height: 35px;
}

.social-container a,
.social-container a img
{
    width: 100%;
    height: 100%;
}

.footer-body
{
    display: flex;
    justify-content: space-between;
}

.footer-section
{
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
}

.footer-section .footer-section-title h3
{
    font-size: 16px;
    font-family: "Sora" , sans-serif;
    font-weight: 500;
    line-height: 24px;
    color: var(--footer-sections-title-fontcolor);
}

.footer-section .footer-section-links
{
    padding: 10px 0px 10px 0px;
}

.footer-section .footer-section-links ul
{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-section .footer-section-links ul li a
{
    text-decoration: none;
    font-size: 16px;
    font-family: "Sora" , sans-serif ;
    font-weight: 300;
    line-height: 24px;
    color: var(--footer-sections-links-fontcolor);
}

.footer-section .footer-section-links ul li a:hover
{
    color: var(--footer-sections-links-fontcolor-hover);
}

.footer-foot
{
    display: flex;
    width: 100%;
    justify-content: center;
}

.footer-foot p
{
    padding: 10px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
    color: var(--footer-foot-text-fontcolor);
    font-family: "Sora" , sans-serif;
}

.footer-foot p span
{
    font-family: "Koulen" , sans-serif;
    color: var(--footer-foot-text-vitruvian-fontcolor);
}

/* MEDIA QUERIES */

/* 2xl */
@media (max-width: 1536px) 
{

    /* OPERATION */
    .perk-card
    {
        width: 300px;
    }

    /* SERVICES */

    .service-card
    {
        width: 100%;
        height: 300px;
    } 

}

@media (max-width: 1419px) 
{
    /* SERVICES */
    .services-container
    {
        justify-content: space-around;
    }

    .service-card
    {
        width: 320px;
    } 

}


/* xl */
@media (max-width: 1280px) 
{
    /* OPERATION */
    .operation-perks-container
    {
        justify-self: center;
        gap: 35px;
    }

    .perk-card
    {
        width: 280px;
        height: 400px;
    }

    .operation
    {
        height: 850px;
    }

    .operation .big-title-container h2
    {
        font-size: 44px;
    }

    /* SERVICES */

    .service-card
    {
        width: 280px;
    } 

    /* PRICING */
    .price-card
    {
        width: 300px ; 
        height: auto;
    }

    .price-perks-container  
    {
        padding-bottom: 20px;
        width: auto;
    }

    .price-card .price-perks-container ul li 
    {
        text-wrap: nowrap;
        font-size: 13px;
    }

}


@media (max-width: 1059px) 
{
    /* SERVICES */
    .service-card
    {
        width: 400px;
        height: 300px;
    } 

    /* COMPARISON */
    td#freelance-title,
    td#otheragencies-title,
    td#void-title,
    td.del-val,
    .comparison-table .table-side-titles
    {
        display: none;
    }

    /* PRICING */

    .pricing-card-container
    {
        flex-direction: column;
        height: auto;
    }

    .price-card
    {
        width: 100%;
    }
}

/* lg - Burger menu*/ 
@media (max-width: 1024px) 
{

    /* HERO  */
    .big-title-container h2
    {
        font-size: 48px;
        line-height: 58px;
    }

    /* --- SIDEBAR + BURGER MENU --- */
    .links-container ul,
    header .book-call-container
    {
        display: none;
    }

    .burger-menu
    {
        background-color: var(--header-burger-menu-bgcolor);
        width: 40px;
        height: 40px;
        border-radius: 50%;
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 5px;
        flex-shrink: 0;
    }

    .line 
    {
        background-color: var(--header-burger-menu-line-bgcolor );
        width: 100%;
        height: 2px;
    }

    .sidebar .book-call-container
    {
        display: flex;
    }

    /* OPERATION */

    .operation
    {
        height: auto;
    }
    .operation-perks-container
    {
        gap: 25px;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .operation-perks-container .perk-card
    {
        width: 45%;
        height: auto;
    }

    .operation-perks-container .perk-card:nth-child(3)
    {
        width: 100%;
        height: auto;
    }

    .operation .big-title-container h2
    {
        font-size: 40px;
    }

    /* SERVICES */
    /* .services-container
    {
        flex-direction: column;
    } */
    .service-card
    {
        width: 350px;
    }

    /* FAQS */
    .faqs
    {
        padding: 35px;
    }

    /* FOOTER */
    .footer-body
    {
        flex-wrap: wrap;
    }
}

@media (max-width: 888px) 
{
    /* OPERATION */

    .operation .big-title-container h2
    {
        font-size: 34px;
    }

    /* TESTIMONIALS */
    .testimonials
    {
        height: 500px;
    }

    /* CASE STUDIES */
    .case-studies-container div.two .case-study-content,
    .case-studies-container div.three .case-study-content
    {
        height: 50%;
    }

    .case-study-content .case-study-description-container p
    {
        font-size: 0.85rem;
        line-height: 20px;
    }

    /* CONTACT  */
    .contact
    {
        padding: 40px 30px 40px 30px;
    }

    .contact-header h1
    {
        font-size: 48px;
    }

    .contact-form
    {
        width: 100%;
    }

    /* SERVICES */
    .service-card
    {
        width: 300px;
    }
}

/* md */
@media (max-width: 788px) 
{

    /* HERO  */
    .big-title-container h2
    {
         font-size: 36px;
         line-height: 55px;
    }

    .hero-buttons-container
    {
        width: 100%;
        flex-direction: column;
        align-items: stretch;
    }

    .hero-buttons-container .book-call-container,
    .hero-buttons-container .view-pricing-container
    {
        width: 100%;
    }

    /* OPERATION */
    .operation
    {
        height: auto;
    }

    .operation .big-title-container h2
    {
        font-size: 28px;
        text-align: left;
        line-height: 38px;
    }

    /* SERVICES */

    .service-card
    {
        width: 280px;
        
    }

    /* TESTIMONIALS */
    .testimonials
    {
        height: 550px;
    }

    /* COMPARISON */
    .comparison .big-title-container h2
    {
        font-size: 38px;
    }

    /* CASE STUDIES */
   
    div.two .case-study-content,
    div.three .case-study-content
    {
        height: 60%;
    }

    .case-study-content .case-study-description-container p
    {
        font-size: 0.85rem;
        line-height: 20px;
    }

    /* FAQS */
    .faqs-container
    {
        flex-direction: column;
    }

    .faq
    {
        width: 100%;
    }

}
@media (max-width: 727px) 
{

    /* OPERATION */
    .operation-perks-container
    {
        flex-direction: column;
    }

    .operation-perks-container .perk-card
    {
        width: 100%; 
    }

    /* SERVICES */
    .services .big-title-container h2
    {
        font-size: 40px;
    }

    .services-container
    {
        width: 100%;
        justify-content: stretch;
        align-items: stretch;
    }

    .service-card
    {
        min-width: 100%;
        height: 300px;
        
    }

    /* TESTIMONIALS */
    .testimonials
    {
        height: 600px;
    }

    /* CASE STUDIES */
    .case-studies
    {
        height: auto;
    }

    .case-studies-container
    {
        display: flex;
        flex-direction: column;
        gap: 25px;
        height: auto;
    }

    .one
    {
        width: 100%;
        height: 800px;
    }

    .two
    {
        width: 100%;
        height: 500px;
    }

    .three
    {
        width: 100%;
        height: 500px;
    }

    /* CASE STUDIES */
    .case-studies .big-title-container h2 
    {
        font-size: 36px;
    }

    /* CONTACT */
    .contact-description 
    {
        width: 100%;
    }

    
}

/* sm */
@media (max-width: 640px) 
{
    /* HERO  */
    .big-title-container h2
    {
        font-size: 28px;
        line-height: 50px;
    }

    /* --- SIDEBAR --- */
    .sidebar
    {
        min-width: 100%;
        position: fixed;
    }

    .sidebar-header-control-container
    {
        display: flex;
        justify-content: space-between;
    }
    
    .hero
    {
        height: 700px;
    }

    /* SERVICES */

    .services .big-title-container h2
    {
        font-size: 32px;
    }

    .services .service-card-title-container h2
    {
        font-size: 16px;
    }

 

    /* TESTIMONIALS */
    .testimonials
    {
        height: 650px;
    }

    .testimonials .testimonial-text-container P
    {
        font-size: 36px;
    }

    /* COMPARISON */
    .comparison .big-title-container h2
    {
        font-size: 30px;
    }

    /* CASE STUDIES */
    .case-studies .big-title-container h2 
    {
        font-size: 33px;
    }

    /* SUBSCRIPTION STEPS */
    .subscription-steps .big-title-container h2
    {
        font-size: 30px;
        text-wrap: nowrap;
    }

    .steps-container
    {
        padding: 10px;
        height: 750px;
        gap: 30px;
    }

    .step-container
    {
        height: 200px;
    }

    .step-body
    {
        height: 200px;
    }

    .step-body .step-description
    {
        padding-right: 30px;
    }

    /* PRICING */
    .pricing .price-card .price-amount p
    {
        font-size: 2.25rem;
    }

    .pricing .price-card .price-perks-container
    {
        width: auto;
    }

    .pricing .price-card .price-perks-container ul li
    {
        width: 100%;
        text-wrap: wrap;
    }

    .test
    {
        display: none;
    }
    .faqs-titles .big-title-container 
    {
        padding-left: 15px;
    }

    .faqs-titles .big-title-container h2
    {
        font-size: 42px;
    }

    /* FOOTER */
    .footer-header
    {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }

    /* CONTACT */

    .personal-information-container
    {
        flex-direction: column;
    }

    .personal-information-container div 
    {
        width: 100%;
    }

    .contact-header h1
    {
        font-size: 36px;
    }

    .contact-send-container input
    {
        width: 100%;
    }

    .contact-send-container
    {

        padding: 0px;
    }

    .contact-send-container input
    {
        min-width: 100px;
        border-radius: .75rem;
        border: none;
        font-size: 18px;
        line-height: 28px;
        font-weight: 500;
        color: var(--contact-submit-button-fontcolor);
        font-family: "Sora" , sans-serif;
        padding: 5px 10px 5px 10px;
        background: linear-gradient(to right, var(--contact-submit-button-values-gradientcolor-one), var(--contact-submit-button-values-gradientcolor-two));
    }
}

/* xs */
@media (max-width: 475px) 
{
    .main-logo-container h1
    {
        font-size: 1.25rem;
    }

    .hero
    {
        height: 750px;
    }

    /* SOCIAL PROODS */

    .social-proofs
    {
        height: 320px;
        gap: 55px;
        flex-wrap: wrap;
        padding: 20px;
    }

    /* OPERATION */

    .operation-container
    {
        align-items: center;
    }


    /* SERVICES */
    
    .services
    {
        padding: 20px;
    }

    .services .big-title-container h2
    {
        font-size: 32px;
    }
    
    .service-card
    {
        height: 270px;
    }

    .service-card .service-card-description-container p
    {   
        font-size: 15px;
        line-height: 20px;
    }

    /* TESTIMONIALS */
    .testimonials
    {
        height: 750px;
    }

    .testimonials .testimonial-text-container P
    {
        font-size: 32px;
        line-height: 50px;
    }

    /* COMPARISON */
    div.comparison
    {
        padding: 30px;
    }

    .comparison .big-title-container h2
    {
        font-size: 23px;
        
    }

    .comparison-table .table-titles,
    .comparison-table .table-side-titles
    {
        padding: 10px;
        text-wrap: nowrap;
        font-size: 12px;
    }

    .comparison-table .table-values p
    {
        font-size: 10px;
    }


    /* CASE STUDIES */
    .one,
    .two,
    .three
    {
        background-size: cover;
        background-repeat: no-repeat;
    }

    .case-studies-container div.one .case-study-content
    {
        height: 35%;
        gap: 10px;
        padding-top: 0px;
        padding-bottom: 0px;
        justify-content: center;
    }

    .case-studies-container div.two .case-study-content,
    .case-studies-container div.three .case-study-content
    {
        height: 60%;
    }

    .case-studies .big-title-container h2 
    {
        font-size: 23px;
        text-wrap: nowrap;
    }

    /* SUBSCRIPTION STEPS */
    .subscription-steps .big-title-container h2
    {
        font-size: 30px;
        text-wrap: nowrap;
    }
    
    .steps-container
    {
        height: 800px;
        gap: 20px;
        padding: 25px 15px 15px 15px;
    }

    .step-container
    {
        height: 250px;
        gap: 10px;
    }
    
    .step-body
    {
        padding-left: 10px;
    }

    .step-body .step-title h2
    {
        text-wrap: nowrap;
    }

    .step-body .step-title,
    .step-body .step-description
    {
        padding-right: 100px;
    }

    /* PRICING */
    .pricing 
    {
        padding: 25px;
    }

    .price-card 
    {
        width: 100%;
    }

    .pricing .price-card .price-amount p
    {
        font-size: 1.75rem;
    }

    .price-card .price-action-btn-container
    {
        min-width: 200px;
    }

    /* FAQS */
    .faqs
    {
        padding: 20px;
    }
    
    /* CONTACT */
    .contact-header h1
    {
        line-height: 44px;
    }

    /* FOOTER */

    .social-container
    {
        width: 30px;
        height: 30px;
    }
}

@media (max-width: 391px) 
{
    /* SUBSCRIPTION STEPS */
    .subscription-steps .big-title-container h2
    {
        font-size: 22px;
    }

    .steps-container
    {
        padding-top: 25px;
    }

    .step-body
    {
        
        padding-left: 5px;
        padding-right: 70px;
    }

    .step-body .step-description
    {
        height: 96px;
    }

    .step-body .step-title h2
    {
        font-size: 20px;
    }

    .step-body .step-description p
    {
        font-size: 13px;
    }

    /* CONTACT */
  
    .contact-form
    {
        padding: 40px 10px 40px 10px;
    }
}

@media (max-width: 367px) 
{
    /* SERVICES */
    .service-card .service-card-description-container 
    {   
        padding: 10px;
    }

    /* TESTIMONIALS */

    .testimonials .testimonial-text-container P
    {
        font-size: 28px;
    }

    /* COMPARISON */
    .comparison
    {
        padding: 20px;
    }

    .comparison .big-title-container h2
    {
        font-size: 19px;
        
    }

    .comparison-table .table-titles,
    .comparison-table .table-side-titles
    {
        padding: 5px;
        text-wrap: nowrap;
        font-size: 10px;
    }

    .comparison-table .table-values p
    {
        font-size: 10px;
        padding: 5px 2.5px 5px 2.5px;
    }
    
    /* CASE STUDIES */

    .case-studies .case-study-content h3
    {
        font-size: 16px;
    }

    .case-studies .big-title-container h2 
    {
        font-size: 20px;
    }

    .two
    {
        background-position: left;
    }

    /* PRICING */
    .price-card .price-perks-container ul
    {
        padding: 30px 30px 30px 0px;
    }

    /* FOOTER */

    .social-container
    {
        width: 25px;
        height: 25px;
    }
}
/* xs */
@media (max-width: 330px) 
{
    .hero
    {
        height: 900px;
    }

    .hero-buttons-container .book-call-container
    {
        
        height: 100px;
    }

    .hero-buttons-container .book-call-container button 
    {
        flex-direction: column;
        flex-wrap: wrap;
    }

    /* OPERATION */
    .operation-perks-container
    {
        padding: 10px;
    }
    /* SERVICES */
    .service-card
    {
        height: auto;
    }

    .service-card .service-card-description-container
    {
        padding-left: 20px;
    }

    /* COMPARISON */
    .comparison
    {
        padding: 10px;
    }

    .comparison .big-title-container h2
    {
        font-size: 17px;
        
    }

    .comparison-table .table-titles,
    .comparison-table .table-side-titles
    {
        padding: 5px;
        text-wrap: nowrap;
        font-size: 10px;
    }

    .comparison-table .table-values p
    {
        font-size: 10px;
    }

    /* CASE STUDIES */
    .case-studies
    {
        height: 1800px
    }

    .case-studies-container
    {
        height: 1900px
    }

    .case-studies-container div.one .case-study-content,
    .case-studies-container div.two .case-study-content,
    .case-studies-container div.three .case-study-content
    {
        padding: 15px;
    }

    /* SUBSCRIPTION STEPS */
    .steps-container
    {
        padding: 25px 15px 15px 15px;
    }

    .step-body
    {
        padding-right: 100px;
    }
}