@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Koulen&family=Sora:wght@100..800&display=swap');

/* -------------------------------------------- GLOBAL RESET -------------------------------------------- */

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    background-color: var(--body-bgcolor);
    height: 1000px;
    margin: 30px;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

/* GENERAL STYLES */

.italic
{
    font-style: italic;
}

/* -------------------------------------------- HEADER + VIEW PRICING BUTTON IN HERO -------------------------------------------- */

header
{
    width: 100%;
    height: 12vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--header-bgcolor);
    gap: 12px;
    padding: 15px 1.5rem 15px 1.5rem;
    border: 1px solid var(--header-bordercolor);
    border-radius: .75rem;
    margin-left: auto;
    margin-right: auto;
}

.main-logo-container h1
{
    color: var(--header-mainlogo-fontcolor);
    font-size: 1.75rem;
    font-family: "Koulen" , sans-serif;
    text-wrap: nowrap;

}

.links-container ul
{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    gap: 50px;
}

.links-container ul li a
{
    color: var(--header-nav-links-fontcolor);
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    font-family: "Sora" , sans-serif;
}

.links-container ul li a:hover
{
    color: var(--header-nav-links-fontcolor-hover);
}

.book-call-container
{
    width: 210px;
    height: 45px;
    background-image: url("../images/blurry-gradient-haikei.svg");
    border-radius: .75rem;
}

.book-call-container button
{
    width: 100%;
    height: 100%;
    background: transparent;
    color: var(--header-bookcall-button-fontcolor);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
    font-family: "Sora" , sans-serif;
    font-weight: 600;
    font-size: 16px;
    border-radius: .75rem;
    border: none;
    padding: 8px;
    outline: 4px solid transparent;  
    transition: all ease-in-out 0.5s;
}

.book-call-container button:hover,
.view-pricing-container button:hover
{
    outline: 4px solid var(--header-bookcall-button-bordercolor-hover); 
}

.book-call-arrow-container
{
    width: 48px;
    height: 48px;
    flex-shrink: 0;
}

.book-call-arrow-container img
{
    width: 100%;
    height: 100%;
}

.burger-menu
{
    display: none;
    
}
/* -------------------------------------------- SIDEBAR -------------------------------------------- */

.sidebar
{
    background-color: var(--sidebar-bgcolor) ;
    border-right: 1px solid var(--sidebar-bordercolor);
    min-width: 30vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
    padding: 35px;
}

.sidebar-header-control-container,
.sidebar-links-container,
.sidebar .book-call-container
{
    width: 100%;
}

.sidebar h1
{
    font-size: 25px;
    text-wrap: nowrap;
    font-family: "Koulen" , sans-serif;
}

.sidebar-header-control-container
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 35px;
}

.sidebar ul
{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: flex-start;
}

.sidebar ul a
{
    color: var(--header-nav-links-fontcolor);
    text-decoration: none;
    font-weight: 600;
    font-size: 17px;
    font-family: "Sora" , sans-serif;
}

/* -------------------------------------------- HERO -------------------------------------------- */
.hero
{
    background-color: var(--hero-bgcolor);
    border: 1px solid var(--header-bordercolor);
    max-width: 100%;
    height: 550px;
    border-radius: .75rem;
    margin-left: auto;
    margin-right: auto;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 15px;
}

.small-title-container
{
    background-color: var(--hero-title-bgcolor);
    padding: 8px;
    border-radius: 1rem;
    min-width:  200px;
    min-height: 30px;
    display: flex;
    justify-content: center;
}

.small-title-container p
{
    color: var(--hero-title-fontcolor);
    font-family: "Sora" , sans-serif;
    font-weight: 500;
    font-size: 12px;
    text-wrap: nowrap;
    line-height: 16px;
}

.big-title-container
{
    text-align: center;
    max-width: 900px;
    min-width: 200px;
}

.big-title-container h2
{
    text-align: center;
    font-family: "Sora" , sans-serif;
    line-height: 60px;
    font-size: 60px;
    font-weight: 500;
    color: var(--hero-bigtext-fontcolor);
}

.sub-text-container 
{
    max-width: 800px;
    min-width: 200px;
    text-align: center;
    font-family: "Sora" , sans-serif;
}

.sub-text-container p
{
    font-size: 20px;
    line-height: 28px;
    font-weight: 500;
    color: var(--hero-para-fontcolor);
}

.hero-buttons-container
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.view-pricing-container
{
    width: 210px;
    height: 45px;
}

.view-pricing-container button
{
    width: 100%;
    height: 100%;
    border-radius: .75rem;
    background-color: var(--hero-viewpricing-button-bgcolor);
    border: 3px solid var(--hero-viewpricing-button-bordercolor);
    font-family: "Sora" , sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    color: var(--hero-viewpricing-button-fontcolor);
    outline: 4px solid transparent;  
    transition: all ease-in-out 0.5s;
}

/* -------------------------------------------- MEDIA QUERIES -------------------------------------------- */

/* 2xl */
@media (max-width: 1536px) {}

/* xl */
@media (max-width: 1280px) {}

/* lg - Burger menu*/ 
@media (max-width: 1024px) 
{

    /* HERO  */
    .big-title-container h2
    {
        font-size: 48px;
        line-height: 58px;
    }

    /* --- SIDEBAR + BURGER MENU --- */
    .links-container ul,
    header .book-call-container
    {
        display: none;
    }

    .burger-menu
    {
        background-color: var(--header-burger-menu-bgcolor);
        width: 40px;
        height: 40px;
        border-radius: 50%;
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 5px;
        flex-shrink: 0;
    }

    .line 
    {
        background-color: var(--header-burger-menu-line-bgcolor );
        width: 100%;
        height: 2px;
    }

    .sidebar .book-call-container
    {
        display: flex;
    }
}

/* md */
@media (max-width: 768px) 
{

    /* HERO  */
    .big-title-container h2
    {
         font-size: 36px;
         line-height: 55px;
    }

    .hero-buttons-container
    {
        width: 100%;
        flex-direction: column;
        align-items: stretch;
    }

    .hero-buttons-container .book-call-container,
    .hero-buttons-container .view-pricing-container
    {
        width: 100%;
    }
}

/* sm */
@media (max-width: 640px) 
{
    /* HERO  */
    .big-title-container h2
    {
        font-size: 28px;
        line-height: 50px;
    }

    /* --- SIDEBAR --- */
    .sidebar
    {
        min-width: 100%;
    }

    .sidebar-header-control-container
    {
        display: flex;
        justify-content: space-between;
    }
    
    .hero
    {
        height: 700px;
    }

}

/* xs */
@media (max-width: 475px) 
{
    .main-logo-container h1
    {
        font-size: 1.25rem;
    }

    .hero
    {
        height: 750px;
    }
}

/* xs */
@media (max-width: 320px) 
{
    .hero
    {
        height: 900px;
    }

    .hero-buttons-container .book-call-container
    {
        
        height: 100px;
    }

    .hero-buttons-container .book-call-container button 
    {
        flex-direction: column;
        flex-wrap: wrap;
    }
}