/* VARIABLE USED IN THE PROJECT */

:root
{
    /* COLORS */
    --body-bgcolor : #000f15;

    --header-bgcolor : #050F13;
    --header-bordercolor : #0A2322;
    --header-mainlogo-fontcolor : rgb(180, 180, 180) ;
    --header-nav-links-fontcolor : #69B8C7 ;
    --header-nav-links-fontcolor-hover : #5ec5da ;
    --header-bookcall-button-fontcolor : #E1E6E7;
    --header-bookcall-button-bordercolor-hover : #1C4279;
    --header-burger-menu-bgcolor : #5ec5da ;
    --header-burger-menu-line-bgcolor : white;

    --sidebar-bgcolor :#050F13 ;
    --sidebar-bordercolor :#0A2322 ;

    --hero-bgcolor: #050F13 ;
    --hero-bordercolor : #0A2322;
    --hero-title-fontcolor : #FFFCF9 ;
    --hero-title-bgcolor : #052021 ;
    --hero-bigtext-fontcolor : #FFFCF9;
    --hero-para-fontcolor : #999C94 ;
    --hero-para-bgcolor : #062021 ;
    --hero-viewpricing-button-fontcolor :#FFFFFF ;
    --hero-viewpricing-button-bgcolor : transparent ;
    --hero-viewpricing-button-bordercolor :#FFFFFF ;
    --hero-viewpricing-button-outlinecolor-hover :#1C4279 ;

    --past-work-bgcolor : #050F13 ;
    --past-work-bordercolor : #0A2322;

    --operation-bgcolor : #050F13;
    --operation-bordercolor : #0A2322;
    --operation-bigtext-fontcolor : #FFFCF9;
    --operation-para-fontcolor : rgb(163, 163, 163);
    --operation-perkcard-bordercolor : #0A2322 ;
    --operation-perk-number-bgcolor : #062223;
    --operation-perk-number-fontcolor : #FFFCF9;
    --operation-perk-title-fontcolor : #FFFCF9;
    --operation-perk-description-fontcolor : #a3a3a3;

    --services-bgcolor : #050F13;
    --services-bordercolor : #0A2322;
    --services-smalltitle-fontcolor : #FFFFFF;
    --services-bigtitle-fontcolor : #FFFFFF;
    --services-icon-bgcolor : #0D2321;
    --services-card-title-fontcolor : #FFFFFF;
    --services-card-description-fontcolor : #a3a3a3;
    --services-card-bordercolor : #0A2322;

    --testimonials-bgcolor :#050F13 ;
    --testimonials-bordercolor : #0A2322;
    --testimonials-smalltitle-fontcolor :#FFFFFF;
    --testimonials-test-text-fontcolor : #FFFFFF ;
    --testimonials-attribution-fontcolor : #FFFFFF ;
    --testimonials-attributioner-role-fontcolor : #a3a3a3 ;
    --testimonials-switch-btn-bgcolor : #E5E5E5 ;
    --testimonials-switch-btn-bgcolor-active : #56CEEA ;

    --comparison-bgcolor : #050F13 ;
    --comparison-bordercolor : #0A2322 ;
    --comparison-smalltitle-fontcolor : #FFFFFF;
    --comparison-bigtitle-fontcolor : #FFFFFF;
    --comparison-table-row-bordercolor : #0D2321;
    --comparison-table-sidetitles-fontcolor : #FFFFFF;
    --comparison-table-headtitles-fontcolor : #FFFFFF;
    --comparison-table-values-bgcolor : #0D2321;
    --comparison-table-values-fontcolor : #d4d4d4;
    --comparison-table-vitruvian-values-gradientcolor-two : #51B8DE;
    --comparison-table-vitruvian-values-gradientcolor-one : #44C6B4;

    --case-studies-bgcolor : #050F13 ;
    --case-studies-bigtitle-fontcolor : #FFFFFF;
    --case-study-content-bgcolor : #0511128e;
    --case-study-content-title-fontcolor : #FFFFFF ;
    --case-study-content-description-fontcolor : #d4d4d4 ;

    --subscription-bgcolor : #050F13;
    --subscription-step-number-fontcolor : #fff9;
    --subscription-step-title-fontcolor : #FFFFFF;
    --subscription-step-description-fontcolor : #d4d4d4;

    --pricing-bgcolor : #050F13;
    --pricing-bordercolor : #0A2322 ;
    --pricing-price-title-fontcolor : #FFFFFF ;
    --pricing-price-card-bordercolor : #0A2322 ;
    --pricing-price-amount-fontcolor : #FFFFFF ;
    --pricing-price-amount-time-fontcolor : #a3a3a3 ;
    --pricing-price-state-fontcolor : #a3a3a3 ;
    --pricing-price-button-bgcolor : transparent ;
    --pricing-price-button-bgcolor-hover : #FFFFFF ;
    --pricing-price-button-fontcolor : #FFFFFF ;
    --pricing-price-button-fontcolor-hover : #001314 ;
    --pricing-price-button-bordercolor : #FFFFFF;
    --pricing-price-perks-fontcolor : #FFFFFF;
    --pricing-price-signup-btn-bordercolor : #4BDBC3;
    --pricing-price-signup-btn-gradientcolor-two : #51B8DE;
    --pricing-price-signup-btn-gradientcolor-one : #44C6B4;
    --pricing-price-signup-btn-bgcolor-hover : #FFFFFF;
    --pricing-price-signup-btn-fontcolor-hover : #001314;
    --pricing-price-signup-btn-outlinecolor-hover :#1C4279 ;

    --faqs-faq-title-fontcolor : #FFFFFF;
    --faqs-faq-description-fontcolor : #ffffff80;

    --booking-bgcolor : #050F13;
    --booking-bordercolor : #0A2322 ;
    --booking-text-fontcolor : #ffffff80 ;
    --booking-button-fontcolor : #FFFFFF ;
    --booking-button-gradientcolor-one : #51B8DE;
    --booking-button-gradientcolor-two : #44C6B4 ;
    --booking-button-outlinecolor-hover :#1C4279 ;
    --booking-subtext-fontcolor :#ffffff80 ;

    --footer-bgcolor : #050F13;
    --footer-bordercolor : #0A2322 ;
    --footer-sections-title-fontcolor : #FFFFFF ;
    --footer-sections-links-fontcolor : #afa9a975 ;
    --footer-sections-links-fontcolor-hover : #678689 ;
    --footer-foot-text-fontcolor : #737373;
    --footer-foot-text-vitruvian-fontcolor : #FFFFFF;

    --contact-bgcolor : #050F13;
    --contact-bordercolor : #0A2322 ;
    --contact-form-bordercolor : #0A2322 ;
    --contact-sub-title-fontcolor : #49adc1 ;
    --contact-title-fontcolor : #FFFFFF ;
    --contact-description-fontcolor : #ffffff80 ;
    --contact-button-title-fontcolor : #a3a3a3 ;
    --contact-button-placeholder-fontcolor : #a3a3a3 ;
    --contact-button-bordercolor : #0A2322 ;
    --contact-textarea-bordercolor : #0A2322 ;
    --contact-button-bordercolor-focus : #49adc1 ;
    --contact-submit-button-fontcolor: #FFFFFF ;
    --contact-submit-button-values-gradientcolor-two : #51B8DE;
    --contact-submit-button-values-gradientcolor-one : #44C6B4;



}